.navbar {
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 992px) {
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container-lg {
  padding-left: 10vw;
  padding-right: 10vw;

  @media screen and (max-width: 992px) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
