.navbar {
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;

  @media screen and (max-width: 992px) {
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;

    transition: 250ms transform;
    will-change: transform;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
  }
}

.col-md-12 {
  @media screen and (max-width: 992px) {
    img {
      width: 96vw;
      height: 96vw;
    }
  }

  @media screen and (max-width: 1140px) and (min-width: 992px) {
    img {
      width: 16rem;
      height: 16rem;
    }
  }
}

.container-lg {
  padding-left: 10vw;
  padding-right: 10vw;

  @media screen and (max-width: 992px) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

footer {
  width: 100%;

  .images {
    margin-top : 2.5rem;
    padding-left : 26rem;
    padding-right : 26rem;

    img {
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;
    }
  }

  .lead {
    font-size : 1.1rem;
    margin-top : 0.5rem;
    color : gray;
  }
}
