.navButtons {
  width: auto;
}

.isActive {
  color: #222;
  font-weight: 500;
}

.text-decoration-none {
  color: #888;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: 400;
}

.navbar-nav {
  .marginRight {
    margin-right: 3rem;
  }
  @media screen and (max-width: 992px) {
    background-color: #222;
    color: rgb(202, 202, 202);
    text-align: center;

    li {
      padding: 1rem;
      transition: background-color 250ms;
      will-change: background-color;
    }

    li .isActive {
      color: white;
    }

    li:hover {
      background-color: #444;
      cursor: pointer;
    }

    .marginRight {
      margin-right: 0rem;
    }
  }
}

.navbar-toggler {
  border: none;
  border-radius: 0;

  width: 3rem;
  height: 3rem;

  transition: background-color 250ms;
  will-change: background-color;

  .navbar-toggler-stripes {
    width: 100%;
    height: 100%;

    padding: 0.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .stripe {
      width: 1.75rem;
      height: 0.25rem;
      background-color: #222;
      transition: background-color 250ms;
      will-change: background-color;
    }
  }
}

.ntActive {
  background-color: #222;

  .navbar-toggler-stripes {
    .stripe {
      background-color: rgb(202, 202, 202);
    }
  }
}

.About {
  margin-bottom: 10rem;
  .container-lg {
    img {
      object-fit: cover;
      @media screen and (max-width: 992px) {
        margin-top: 6rem;
      }

      @media screen and (min-width: 992px) and (max-width: 1140px) {
        width: 60%;
      }
    }

    article {
      @media screen and (max-width: 992px) {
        margin-top: 2rem;
      }

      @media screen and (min-width: 992px) and (max-width: 1140px) {
        width: 40%;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 700;

        @media screen and (min-width: 2500px) {
          font-size: 2.5rem;
        }
        @media screen and (min-width: 3200px) {
          font-size: 3.5rem;
        }
      }

      p {
        font-size: 0.9rem;
        @media screen and (min-width: 2500px) {
          font-size: 1.2rem;
        }
        @media screen and (min-width: 3200px) {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.Blog {
  @media screen and (max-width: 992px) {
    margin-top: 10rem;
  }
  @media screen and (min-width: 2500px) {
    margin-top: 5rem;
  }
  height: auto;
  .container-lg {
    .row {
      .col-12 {
        margin-bottom: 2rem;
        transition: color 250ms;
        will-change: color;
        h2 {
          @media screen and (min-width: 2500px) {
            font-size: 2.5rem;
          }
          @media screen and (min-width: 3200px) {
            font-size: 3.5rem;
          }
        }
        .title {
          width: 38%;
          @media screen and (min-width: 2500px) {
            font-size: 1.75rem;
          }
          @media screen and (min-width: 3200px) {
            font-size: 2rem;
          }
        }
        article {
          width: 62%;
          font-size: 0.9rem;
          @media screen and (min-width: 2500px) {
            font-size: 1.4rem;
          }
          @media screen and (min-width: 3200px) {
            font-size: 1.9rem;
          }
        }
      }

      .col-12:hover {
        cursor: pointer;
        color: rgb(155, 13, 13);
      }
    }
  }
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.ImageView {
  margin-bottom: 5rem;
  .container-lg {
    .left {
      width: 40%;
      padding: 1rem;
      padding-top: 0rem;
      padding-left: 0rem;

      h2 {
        font-size: 2rem;

        @media screen and (min-width: 2500px) {
          font-size: 2.25rem;
        }
        @media screen and (min-width: 3200px) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1rem;
        max-width: 100%;

        @media screen and (min-width: 2500px) {
          font-size: 1.12rem;
        }
        @media screen and (min-width: 3200px) {
          font-size: 1.55rem;
        }
      }
    }

    img {
      width: 55%;
      height: 80%;
    }
  }
}

.BlogPage {
  article {
    font-size: 0.9rem;

    @media screen and (min-width: 2400px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 3200px) {
      font-size: 1.9rem;
    }
  }

  aside {
    h2 {
      font-size: 1.6rem;
      transition: 250ms color;
      will-change: color;

      @media screen and (min-width: 2400px) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.1rem;

      @media screen and (min-width: 2400px) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 1.8rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      transition: 250ms color;
      will-change: color;

      @media screen and (min-width: 2400px) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 2rem;
      }
    }
    h2:hover,
    h3:hover {
      cursor: pointer;
      color: rgb(155, 13, 13);
    }
  }
}
